:host {
  margin: 0;
}

ul.message-container {
  list-style: none;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}

.username {
  margin-right: 15px;
}

.message {
  display: flex;
  align-items: center;
}

p {
  margin: 5px;
}

#end {
  height: 1px;
  overflow: auto;
}

::slotted(ul) {
  max-height: 100% !important;
  max-width: 100% !important;
}

/*

Styling applied when `use-styles` = true

*/

.with-styles {
  font-family: canada-type-gibson, sans-serif;
  font-size: 1.125em;
  font-weight: 200;
}

.with-styles .message-text h1,
.with-styles .message-text h2,
.with-styles .message-text h3,
.with-styles .message-text h4,
.with-styles .message-text li,
.with-styles .message-text li p {
  font-size: 1.125em !important;
  font-weight: 200 !important;
  font-family: canada-type-gibson, sans-serif !important;
}

.with-styles .message-text > p > img {
  width: 300px;
  height: auto;
}

.with-styles .username {
  font-weight: 600;
}

.with-styles code:not(.hljs) {
  background-color: lightgreen;
  padding: 2px;
}
