@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css');

:host {
  font-family: canada-type-gibson, sans-serif;
  font-size: 1.125em;
  font-weight: 200;
  margin: 0;
}

h1,
h2,
h3,
h4,
li {
  font-size: 1.125em !important;
  font-weight: 200 !important;
  font-family: canada-type-gibson, sans-serif !important;
}

ul {
  list-style: none;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}

.username {
  font-weight: 600;
  margin-right: 15px;
}

.message {
  display: flex;
  align-items: center;
}

p {
  margin: 5px;
}

code:not(.hljs) {
  background-color: lightgreen;
  padding: 2px;
}

#end {
  height: 1px;
  overflow: auto;
}

::slotted(ul) {
  max-height: 100% !important;
  max-width: 100% !important;
}

.message-text > p > img {
  width: 300px;
  height: auto;
}
